:root {
    --background: #1b1b1b;
    --lighter-background: #474747;
    --text: #e7e7e7;
    --muted-text: #8f8f8f;
    --hover: #ecadff;
}

/* Base Reset & Typography */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
    padding: 2rem 1rem;
    max-width: 60rem;
    margin: auto;
}

/* Navigation */
nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--muted-text);
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--hover);
}

/* Typography */
h1, h2, h3 {
    margin-bottom: 1.5rem;
    font-weight: 600;
}

p {
    margin-bottom: 1rem;
}

/* Form */
button {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--lighter-background);
}
