.title h1 {
    border-top: 1px solid var(--muted-border);
    padding-top: 0.8rem;
}

.random-quote {
    margin-top: 3rem;
}

textarea {
    background-color: transparent;
    outline: none;
    resize: none;
    color: var(--text);
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--border);
    transition: border 0.3s;
}

textarea:focus {
    border: 1px solid var(--hover);
}

#analyze-input {
    width: 100%;
    height: 3rem;
    padding: 0;
}

.analysis-result {
    margin: 3rem 0;
    padding: 1rem 0;
    border-bottom: 1px solid var(--muted-border);
}