<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sensum{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
    </nav>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>
