{% extends 'base.html' %}
{% block title %}Home | Sensum{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">{% endblock %}

{% block content %}
<h1>Sensum</h1>
<textarea id="userInput" rows="5" placeholder="What's on your mind?"></textarea>
<div class="random-quote">
    <h2>Random quote</h2>
    <div id="quote-box">
        <p id="quote-text" class="serif"></p>
        <p id="quote-author"></p>
        <!-- <p id="quote-categories"></p> -->
    </div>
</div>
{% endblock %}

{% block script %}<script src="{{ url_for('static', filename='js/index.js') }}"></script>{% endblock %}
